body {
    background-color: #2a0c44;
    overflow:hidden;
}

#daylight {
    background-color: rgb(99, 211, 242);
    z-index: -1;
    display:block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
}

input[type=range] {
    width: 95vw;
}

main {
    display: flex;
    justify-content: center;
    z-index: 9;
    
}

main>h1 {
    font-size: 12em;
    z-index: 12;
}

.slider {
    display: flex;
    justify-content: center;
    padding: 30px;
    position:fixed;
    bottom: 0;
    z-index:10;
}

#sun {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 80vh;
    left: 1vw
}

#moon {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 1vw;
    top: 120vh;
}

.mountains {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left:0;
    z-index: 3;
}

#day-mountains {
    z-index:4;
}

.stars {
    position: fixed;
    width: 100vw;
    height: 100vw;
    z-index:1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.cloud {
    position: fixed;
    z-index: 2;
    left:10vw;
    transition: all 0.3s ease-in-out;
}
